extends ../extends/layout

block head
	meta(name="description", content="Домашнее задание курса по доступности")
	link(rel="stylesheet", href="styles/main.css")
	title Домашнее задание

block body
	main#main.container
		section(aria-label="Выставки и события")#events
			h2 Выставки и события
			.tablist(role="tablist")
				button(type="button", role="tab", aria-label="События за всё время", aria-selected="true", aria-controls="events-panel-1", tabindex="0")#events-tab-1 Все
				button(type="button", role="tab", aria-label="События сегодня", aria-selected="false", aria-controls="events-panel-2", tabindex="-1")#events-tab-2 Сегодня
				button(type="button", role="tab", aria-label="События завтра", aria-selected="false", aria-controls="events-panel-3", tabindex="-1")#events-tab-3 Завтра
			div(role="tabpanel")#events-panel-1.active
				ul(aria-labelledby="events-tab-1").cards
					+card("images/events-1.png", "", "Святослав Рихтер в кругу друзей. Москва — Коктебель", "Выставка до 20 ноября", "Текст о музее текст Текст о музее текст Текст о музее текст Текст о музее текст", "#", "Купить билет")
					+card("images/events-2.png", "", "Тату", "Выставка до 27 сентября", "Текст о музее текст Текст о музее текст Текст о музее текст Текст о музее текст", "#", "Купить билет")
					+card("images/events-3.png", "", "От Дюрера до Матисса. Избранные рисунки из собрания ГМИИ им. А.С. Пушкина", "Выставка до 1 ноября", "Текст о музее текст Текст о музее текст Текст о музее текст Текст о музее текст", "#", "Купить билет")
			div(role="tabpanel")#events-panel-2
				ul(aria-labelledby="events-tab-2").cards
					+card("images/events-3.png", "", "От Дюрера до Матисса. Избранные рисунки из собрания ГМИИ им. А.С. Пушкина", "Выставка до 1 ноября", "Текст о музее текст Текст о музее текст Текст о музее текст Текст о музее текст", "#", "Купить билет")
					+card("images/events-1.png", "", "Святослав Рихтер в кругу друзей. Москва — Коктебель", "Выставка до 20 ноября", "Текст о музее текст Текст о музее текст Текст о музее текст Текст о музее текст", "#", "Купить билет")
					+card("images/events-2.png", "", "Тату", "Выставка до 27 сентября", "Текст о музее текст Текст о музее текст Текст о музее текст Текст о музее текст", "#", "Купить билет")
			div(role="tabpanel")#events-panel-3
				ul(aria-labelledby="events-tab-3").cards
					+card("images/events-2.png", "", "Тату", "Выставка до 27 сентября", "Текст о музее текст Текст о музее текст Текст о музее текст Текст о музее текст", "#", "Купить билет")
					+card("images/events-3.png", "", "От Дюрера до Матисса. Избранные рисунки из собрания ГМИИ им. А.С. Пушкина", "Выставка до 1 ноября", "Текст о музее текст Текст о музее текст Текст о музее текст Текст о музее текст", "#", "Купить билет")
					+card("images/events-1.png", "", "Святослав Рихтер в кругу друзей. Москва — Коктебель", "Выставка до 20 ноября", "Текст о музее текст Текст о музее текст Текст о музее текст Текст о музее текст", "#", "Купить билет")
		section(aria-label="Музей")#museum
			h2 Музей
			.tablist(role="tablist")
				button(type="button", role="tab", aria-selected="true", aria-controls="museum-panel-1", tabindex="0")#museum-tab-1 Здания
				button(type="button", role="tab", aria-selected="false", aria-controls="museum-panel-2", tabindex="-1")#museum-tab-2 История
			div(role="tabpanel")#museum-panel-1.active
				ul(aria-labelledby="museum-tab-1").cards
					+card("images/museum-1.png", "", "МЕМОРИАЛЬНАЯ КВАРТИРА С.Т. РИХТЕРА", "", "ул. Большая Бронная, 2/6, 16 этаж, кв. 58", "#", "Подробнее")
					+card("images/museum-2.png", "", "ЦЭВ «МУСЕЙОН»", "", "Колымажный пер., 6/2, 3 (вход с Малого Знаменского переулка)", "#", "Подробнее")
					+card("images/museum-3.png", "", "УСАДЬБА ЛОПУХИНЫХ", "", "Малый Знаменский пер., 3/5с4", "#", "Подробнее")
					+card("images/museum-4.png", "", "УЧЕБНЫЙ МУЗЕЙ", "", "ул. Чаянова, 15", "#", "Подробнее")
					+card("images/museum-5.png", "", "ОТДЕЛ ЛИЧНЫХ КОЛЛЕКЦИЙ", "", "ул. Волхонка, 10", "#", "Подробнее")
					+card("images/museum-6.png", "", "ГАЛЕРЕЯ", "", "ул. Волхонка, 14", "#", "Подробнее")
			div(role="tabpanel", aria-labelledby="museum-tab-2")#museum-panel-2.content
				p Государственный музей изобразительных искусств имени А.С. Пушкина – одно из крупнейших в России художественных собраний зарубежного искусства с древнейших времен до наших дней.
				p В современной экспозиции представлены обширная учебная коллекция тонированных гипсовых слепков с произведений Античности, Средних веков и эпохи Возрождения, а также собрание подлинных произведений живописи, скульптуры, графики и декоративно-прикладного искусства.
				p В залах первого этажа Главного здания представлены: произведения искусства Древнего Египта, Античности, собрание европейской живописи VIII–XVIII веков; два зала – Итальянский и Греческий дворики – занимают слепки. На втором этаже Главного здания в залах размещены слепки произведений искусства Древней Греции, Рима, Средних веков и Возрождения.
				p В начале 2017 года музей определил новое направление своей деятельности – Пушкинский XXI, – ориентированное на современное российское и западное искусство во всех аспектах – выставочном, образовательном и исследовательском. Таким образом, ГМИИ им. А.С. Пушкина представляет собой открытую, интерактивную сцену, демонстрирующую развитие мировой культуры с древности до наших дней, живое, знакомое с детства пространство для получения знаний и общения.
				a(href="#") Читать далее
		section(aria-label="Онлайн-трансляции")#live
			h2 Онлайн-трансляции
			.video
				video(
					src="https://r3---sn-nxg8pivnupob-h5q6.googlevideo.com/videoplayback?expire=1613694666&ei=arIuYJfHC76Dp-oPxN6z-Ac&ip=176.56.107.120&id=o-ANDCvYbSQduViuWUlaMqKzPz0JwNfvt_7Qv_cBjQ3Cww&itag=22&source=youtube&requiressl=yes&mh=iJ&mm=31%2C26&mn=sn-nxg8pivnupob-h5q6%2Csn-25glenez&ms=au%2Conr&mv=m&mvi=3&pcm2cms=yes&pl=21&initcwndbps=667500&vprv=1&mime=video%2Fmp4&ns=Y9cd5lsvUvOMHl40qSKRE0UF&cnr=14&ratebypass=yes&dur=2820.063&lmt=1599680147779264&mt=1613672204&fvip=3&c=WEB&txp=5316222&n=lsL_wnUvmcW1V2qZx&sparams=expire%2Cei%2Cip%2Cid%2Citag%2Csource%2Crequiressl%2Cvprv%2Cmime%2Cns%2Ccnr%2Cratebypass%2Cdur%2Clmt&sig=AOq0QJ8wRQIgHga0kWgYMlFn9iulRUgINZvxbkM7XPf73BEriuEUOLYCIQCoEIJNKtSZJCksQ4Q5jYvDhjLdmFfetDxD25PxOwKtYA%3D%3D&lsparams=mh%2Cmm%2Cmn%2Cms%2Cmv%2Cmvi%2Cpcm2cms%2Cpl%2Cinitcwndbps&lsig=AG3C_xAwRAIgDTFyKiA6f0ClpK0p1DYV9SMMRx4JXr8pYmS93oLytCUCICQFtEVnsaQDWKqS0jhfZl_txAE7bG-CESot4J3s_2eP&title=%D0%90%D0%B9%20%D0%92%D0%B5%D0%B9%D0%B2%D0%B5%D0%B9%3A%20%D0%B4%D0%B2%D0%B8%D0%B6%D0%B5%D0%BD%D0%B8%D0%B5%20%D0%BA%20%D0%BE%D0%B1%D1%89%D0%B5%D1%87%D0%B5%D0%BB%D0%BE%D0%B2%D0%B5%D1%87%D0%B5%D1%81%D0%BA%D0%BE%D0%BC%D1%83",
					poster="images/video-poster.jpg",
					width="100%",
					height="600",
					preload="none"
					aria-label="Видео-лекция «Ай Вейвей: движение к общечеловеческому». Лекцию прочитает заместитель директора государственного музея изобразительных искусств имени Александра Сергеевича Пушкина по региональному развитию Екатерина Кочеткова."
				)
				button(aria-label="Воспроизвести видео")
		section(aria-label="Экскурсии и лекции в прямом эфире")#lectures
			h2 Экскурсии и лекции в прямом эфире
			p С 1 июля вы можете присоединиться к нашим виртуальным мероприятиям — экскурсиям и лекциям для взрослых и детей, оплатив участие на сайте. Встречи будут проходить в прямом эфире на платформе Zoom; предусмотрен формат живого общения с возможностью задавать вопросы экскурсоводу (лектору).
			a(href="#") Подробнее.
			p Мы будем благодарны за любое #[a(href="#") пожертвование]. Все поступившие средства будут направлены на организацию онлайн-проектов для наших посетителей.
